html {
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
}

#title {
    text-align: center;
    font-family: Arial, sans-serif;
}

#description {
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 0ch 0ch 0ch;
}

form {
    background-color: rgba(1, 62, 122, 0.393);
    padding: 50px;
    margin: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(255, 100, 33);
}

label {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#dropdown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#survey-form {
    margin-top: 0;
}

option {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#qs {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit:hover {
    background-color: #45a049;
}